* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1em;
    margin: 20px 0px 20px 20px;
    display: inline-block;
}

h2,
.count,
.message p {
    font-family: sans-serif;
}

h2,
.count,
.sender {
    font-weight: bold;
}

p {
    display: inline-block;
}

#main {
    width: 100%;
    overflow: hidden;
}

.inbox {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    top: 50px;
}

.top-header {
    width: 100%;
    height: 50px;
    position: fixed;
}

.top-header,
.inbox__header {
    border-bottom: 2px solid #eceff1;
    background: #fff;
}

.logo {
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin: auto 10px;
}

.logo__type {
    display: inline-block;
    line-height: 50px;
    font-size: 2em;
    color: #5f6368;
    vertical-align: middle;
    margin: auto 0px;
}

.inbox__sidebar {
    width: 260px;
    height: 100%;
    border-right: 2px solid #eceff1;
    position: relative;
    float: left;
}

.inbox__main {
    float: right;
    width: 100%;
    height: 100%
}

.inbox__sidebar__counter {
    background: #c2daed;
    height: 40px;
    position: relative;
    top: 10px;
    width: 90%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.counter__header,
.count,
.inbox__sidebar__counter img {
    position: absolute;
}

.counter__header {
    left: 50px;
    top: 12px;
    margin: 0;
}

.count {
    top: 12px;
    right: 20px;
}

.inbox__sidebar__counter img {
    top: 5px;
    left: 5px;
}

.counter__header,
.count {
    color: #188ef2;
}

.inbox__header {
    height: 50px;
    width: 100%;
    position: relative;
    display: block;
}

.primary {
    height: calc(100% + 2px);
    width: 250px;  
    border-bottom: 3px solid #188ef2;
} 

.inbox__header h2,
.inbox__header img {
    margin: 0px;
    color: #188ef2;
    position: absolute;
}

.icon {
    height: 30px;
}

.inbox__header h2 {
    top: 16px;
    left: 60px;
}

.inbox__header img {
    top: 9px;
    left: 15px;
} 

.messages {
    height: 100%;
    width: 100%;
    display: block;
}

.message {
    background: #f5f7f7;
    height: 35px;
    border-bottom: 1px solid #eceff1;
}

.message__content {
    height: 30px;
    padding: 9px 0px 5px 20px;
}

.message p {
    color: #424242;
}

.date {
    margin-right: 80px;
}

.sender {
    margin-right: 160px;
}




